<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="/css/styles.css">
    

    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.googleapis.com">

    <script src="https://kit.fontawesome.com/fe5a351671.js" crossorigin="anonymous"></script>

</head>
<body>
    <!-- Sidebar -->
    <%- include("../partials/sidebar") %>

    <div class="main-container">
        <!-- Header -->
        <%- include("../partials/header") %>
        <!-- Dynamic Top Bar -->
        <% if (activePage === "dashboard") { %>
            <%- include("../partials/top-bar") %>
        <% } else { %>
            <%- include("../partials/top-bar2") %>
        <% } %>
    

        <div class="content">
            <%- body %>
        </div>
    </div>
<script src="script.js"></script>
<script src="tokens_script.js"></script>
</body>

</html>